In [2]:
import pandas as pd
import re

In [3]:
df = pd.read_csv("dataset/Iowa_Liquor_Sales.csv")

C:\Users\cyphe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.columns.values

array(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name',
       'Address', 'City', 'Zip Code', 'Store Location', 'County Number',
       'County', 'Category', 'Category Name', 'Vendor Number',
       'Vendor Name', 'Item Number', 'Item Description', 'Pack',
       'Bottle Volume (ml)', 'State Bottle Cost', 'State Bottle Retail',
       'Bottles Sold', 'Sale (Dollars)', 'Volume Sold (Liters)',
       'Volume Sold (Gallons)'], dtype=object)

In [5]:
lossDict = {}
lossDict['fullsize'] = df.shape[0]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14066443 entries, 0 to 14066442
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Invoice/Item Number    object
 1   Date                   object
 2   Store Number           int64
 3   Store Name             object
 4   Address                object
 5   City                   object
 6   Zip Code               object
 7   Store Location         object
 8   County Number          float64
 9   County                 object
 10  Category               float64
 11  Category Name          object
 12  Vendor Number          float64
 13  Vendor Name            object
 14  Item Number            object
 15  Item Description       object
 16  Pack                   int64
 17  Bottle Volume (ml)     int64
 18  State Bottle Cost      float64
 19  State Bottle Retail    float64
 20  Bottles Sold           int64
 21  Sale (Dollars)         float64
 22  Volume Sold (Liters)   float64
 23  Volume Sold (Gallons)  float64
dtypes: float64(8), int64(4), object(12)
memory usage: 2.5+ GB

In [30]:
df.isnull().sum()

Invoice/Item Number            0
Date                           0
Store Number                   0
Store Name                     0
Address                    79992
City                       79991
Zip Code                   80036
Store Location           1419941
County Number             148364
County                    148362
Category                   15139
Category Name              20889
Vendor Number                  9
Vendor Name                    7
Item Number                    0
Item Description               0
Pack                           0
Bottle Volume (ml)             0
State Bottle Cost              0
State Bottle Retail            0
Bottles Sold                   0
Sale (Dollars)                 0
Volume Sold (Liters)           0
Volume Sold (Gallons)          0
dtype: int64

In [6]:
df.dropna(inplace=True)
lossDict['nullloss'] = (lossDict['fullsize']- df.shape[0])

In [7]:
lossDict['nullloss']

1500557

In [10]:
df.shape

(12565886, 24)

In [32]:
nameDict = {"Invoice/Item Number":"invoicenumber"
,"Date":"date"
,"Store Number":"storenumber"
,"Store Name":"storename"
,"Address":"address"            
,"City":"city"
,"Zip Code":"zipcode"
,"Store Location":"storelocation"
,"County Number":"countynumber"
,"County":"countyname"
,"Category":"categorynumber"
,"Category Name":"categoryname"
,"Vendor Name":"vendorname"
,"Vendor Number":"vendornumber"
,"Item Number":"itemnumber"
,"Item Description":"itemdescription"
,"Pack":"pack"
,"Bottle Volume (ml)":"bottlevolumeml"
,"State Bottle Cost":"statebottlecost"
,"State Bottle Retail":"statebottleretail"
,"Bottles Sold":"bottlessold"
,"Sale (Dollars)":"saleprice"
,"Volume Sold (Liters)":"volumesoldlitre"
,"Volume Sold (Gallons)":"volumesoldgallon"}

df.rename(columns = nameDict,inplace=True)

In [33]:
#First, mutate the store location column; replace it with just the GPS substring.
def cutgps(cell,myregex):
    store = re.findall(myregex,cell)
    if (store): #empty
         retVal = store[0]
    else:
         retVal = "NA" #Some of the entries are missing their lat/long data
    return retVal

myregex = r"(\(.+,.+\))"
df['storelocation_cleaned'] = df['storelocation'].apply(cutgps,args=(myregex,))

In [34]:
rowsum = lossDict['nullloss'] 
print("Rows Lost: " + str(rowsum) + "\n Percentage Loss: " + str(rowsum/lossDict['fullsize']))

Rows Lost: 1500557
 Percentage Loss: 0.1066763644511978

In [35]:
df.tail(3)

,invoicenumber,date,storenumber,storename,address,city,zipcode,storelocation,countynumber,countyname,...,itemdescription,pack,bottlevolumeml,statebottlecost,statebottleretail,bottlessold,saleprice,volumesoldlitre,volumesoldgallon,storelocation_cleaned
14066439,S31243400046,03/15/2016,2604,Hy-Vee Wine and Spirits / Lemars,1201 12TH AVE SW,LEMARS,51031,POINT (-96.18335000000002 42.778257),75.0,Plymouth,...,Mccormick Vodka Pet,24,375,1.80,2.70,24,64.80,9.0,2.38,NA
14066441,S31223200005,03/15/2016,4978,Prime Mart / Waterloo,3535 MARIGOLD DR,WATERLOO,50702,POINT (-92.291335 42.435434),7.0,Black Hawk,...,Fireball Cinnamon,48,100,0.89,1.34,48,64.32,4.8,1.27,NA
14066442,S31203000004,03/14/2016,2628,Hy-Vee Food Store / Eldora,1616 EDGINGTON,ELDORA,50627,POINT (-93.103764 42.360631),42.0,Hardin,...,Black Velvet,6,1750,10.45,15.68,12,188.16,21.0,5.55,NA

In [36]:
df.to_csv('dataset/cleaned_data.csv')